@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);

body{
    font-family: roboto;
    margin: 0;
}
p{
    font-size: 16px;
}
h1{
    color: #00B5B5;
}
h2{
    color: #00B5B5;

}
h3{
    color: white;
}

#main-wrapper{
    margin: 0 auto;
    max-width: 1200px;
}

header{
    background-color: #00B5B5;
    color: white;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
}
#header-left{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#main-logo{
    margin:  0 0 0 16px;
    padding: 5px 10px 5px 10px;
}
#main-logo img{
    width: 30px;
    height: 30px;
}

.desktop-menu{
    color: white;
}

.desktop-menu ul{
    display: flex;
}

.desktop-menu ul li{
    margin: 20px;
    list-style: none;
}
.hamburger-button{
    margin: 0 16px 0 0;
    padding: 5px 10px 5px 10px;
    background-color: #00B5B5;
    color: white;
    border: none;
}

.side-menu{
    position: fixed;
    left: 100%;
    height: 100%;
    width: 100%;
    transition: 400ms;
    background-color: #00B5B5;
}

.side-menu ul{
    list-style: none;
    line-height: 64px;
    display: fixed;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.side-menu-visible{
    left: 0;    
}

#side-menu-button{
    border-style: none;
    padding: 10px;
    width: 300px;
    background-color: #00B5B5;
    color: white;
    display: flex;
}

#side-menu-button #icon {
    margin: 0 10px 0 0;
}

#portfolio-image{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    border: solid 2px #fff;
    outline: solid 2px #00B5B5;  
}

#main-content{
    margin: 5%;
}
#about-me{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 32px 0 0 0;

}
#about-me-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#about-me-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact-button{
    border-style: none;
    padding: 10px;
    background-color: #00B5B5;
    color: white;
    margin: 50px 0 50px 0;
}

#projects{
    display: flex;
    flex-direction: column;
}

#card{
    display: flex;
    flex-direction: column;
}

#card-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 25px;
    margin: 20px 0 0 0;
}
#card-short-description{
    color: grey;
}

#card-technics{
    display: flex;
    flex-direction: row;
}
#technic-breadcrum{
    background-color: black;
    color: white;
    padding: 5px 10px 5px 10px;
    border-radius: 20px;
    margin: 0 10px 0 0;
}

#project-button{
    border-style: none;
    padding: 10px;
    background-color: #00B5B5;
    color: white;
    margin: 50px 40% 0 40%;
}

footer{
    background-color: black;
    color: white;
    margin-top: 16px;
}
#footer-content{
    padding: 16px;
}
#need-a-project{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#footer-nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#copyright{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
footer nav ul{
    list-style-type: none;
    line-height: 30px;
    margin: 0;
    padding: 0;
}



@media (min-width: 600px) {
    .side-menu-visible {
        left: 100%;
    }   
    .hamburger-button{
        display: none;
    }         
    #about-me{
        flex-direction: row;
        gap: 100px;
    }
    #about-me-2{
    }
    #footer{
        display: flex;
        justify-content: space-between;
    }
    #projects{
        display: flex;
        flex-direction: row;
    }
    #card{
        display: flex;
        flex-direction: column;
        margin: 0 20px 0 0;
        max-width: 350px;
    }

}

@media (max-width: 600px) {
    .desktop-menu {
        display: none;
    }   



}


